@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background:linear-gradient(to right, blue, yellow);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    font-family: "Barlow Condensed", sans-serif;
    font-size: x-large;
    max-width: 800px;
    left: 50%;
    padding: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

main div img {
    size: xx-large;
}

.sobre {
    margin-left: 5%;
    font-family: "Ubuntu";
}

.downloadbutton {
    margin-left: 5%;
    width: 25%;
}



footer {
    font-family: "Barlow Condensed", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size:large;
    background-color: #000;
    color: #fff;
}

ul {
    list-style-type:circle ;
    margin: auto;
    padding: auto;
  }  

header {
        background-color: #f8f9fa;
        padding: 20px;
        display: flex;
        justify-content: space-around; /* Alterado de space-between para space-around */
        align-items: center;
        max-width: 1200px; /* Define um tamanho máximo para o header */
        margin: 0 auto; /* Centraliza o header */
        border-radius: 30px;
        font-size: auto;
}

header img {
    max-width: 200px; /* Define uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
}

#escolha_canal {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Tiny5;
}

#escolha_player {
    border: 2px solid #007bff;
    border-radius: 5px;
}

.message {
text-align: center;
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

#escolha_canal:hover {
    background-color: #0056b3;
}

#nav_escolha {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#nav_escolha a {
    margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #nav_escolha a {
        flex-basis: 45%; /* ajusta a largura de cada botão */
        margin: 5px;
        padding: 5px;
    }

    #escolha_player {
        width: 100%; /* Faz o player ocupar 100% da largura da tela */
        aspect-ratio: 16 / 9; /* Define a proporção do vídeo (ajuste conforme necessário) */
        max-height: 100%; /* Garante que não exceda a altura do container */
    }

    video {
        width: 100%; /* Garante que o vídeo ocupe toda a largura disponível */
        height: 100%; /* Faz o vídeo ocupar toda a altura do player */
        object-fit: contain; /* Ajusta o vídeo para caber sem cortar */
    }
}


.nomecanal {
    font-family: Tiny5;
    font-size: xx-large;
}

.nomecanal2 {
    font-family: Tiny5;
}

#escolha_player {
    font-size: large;
}

.m3usobre {
    color:aquamarine;
}

.contact-form {
    max-width: 600px;
    margin-left: 5%;
    padding: 50px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.contact-form button:hover {
    background-color: #45a049;
}

.selecionarRadio {
    font-family: cursive;
    color: #f0f0f0;
    font-size: larger;
}

.volumeslider {
    font-family: cursive;
    color: #f0f0f0;
    font-size: larger;
}

#audioPlayer::-webkit-media-controls-timeline,
    #audioPlayer::-moz-media-controls-timeline,
    #audioPlayer::-ms-media-controls-timeline {
      display: none;
    }

    /* Estilo dos botões personalizados */
    .controls {
        margin-top: 10px;
      }
  
      /* Estilo para o botão de Parar/Continuar */
      #stopContinueButton {
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        color: white;
        font-weight: bold;
      }
  
      /* Cor vermelha para o botão quando está em "Parar" */
      .stop {
        background-color: red;
      }
  
      /* Cor verde para o botão quando está em "Continuar" */
      .continue {
        background-color: green;
      }
  
      /* Slider de volume */
      #volumeControl {
        width: 100px;
        margin-left: 10px;
      } 
    .controls button {
      padding: 5px 10px;
      margin: 0 5px;
      cursor: pointer;
    }
    .controls input[type="range"] {
      width: 100px;
    }